//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
$mainFont:				'Geometria'; 
$mainFontSize:		14px;
$mainFontHeight:	17px; 
$mainFontWeight:	300; 
$mainFontColor:		#292929;

$fixFont: 'Arial';
$secondFontSize:		14px; 
$secondFontHeight:	22px;
$secondFontWeign:		400;
$secondFontColor:		#4171af;

$fixFontSize:			14px;
$fixFontHeight:		24px;
 

// Variables => Colors
//----------------------------------------------------//
$default: #56606b;
