@@include('template/layout/header-inner.html')

    <section class="main main_inner">
        <div class="container">
            <div class="menu row">
                <ul class="menu__list col-lg-12">
                    <li class="menu__item">
                        <a class="menu__link">Биометрические считыватели</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link">Оборудование</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link">Программы</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link">Kaiser Fototechnik</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link">Турникеты и умные замки</a>
                    </li> 
                </ul> 
            </div>
            <div class="product row">
               <div class="product-desc col-lg-3">
                   <span class="product-desc__type">Планшет</span>
                   <h1 class="product-desc__title">Signotec ALPHA</h1>
                   <p class="product-desc__text">Идеально подходит для просмотра документов в оригинальном размере, используется для точного захвата рукописной подписи, последующего за ним процесса оцифровывания и распознавания.</p>
               </div> 
               <div class="product-view col-lg-9">
                   <div class="product-images">
                      <div>
                       <img class="product-images__img" src="pic/main-product2.png">
                      </div>
                      <div>
                       <img class="product-images__img" src="pic/main-product2.png">
                      </div>
                   </div> 
                   <span class="product-images__info"></span>
                   <div class="product-price">
                       <span class="product-price__name">Цена:</span>
                       <span class="product-price__value">до 24 800 р.</span>
                       <a class="btn btn_consultation" href="#">Консультация</a>
                   </div>
               </div>
               <div class="product-info col-lg-12">
                   <ul class="product-tab"> 
                       <li data-id="1" class="product-tab__item product-tab__item-active">Полное ОПИСАНИЕ</li>
                       <li data-id="2" class="product-tab__item">Видео</li>
                       <li data-id="3" class="product-tab__item">по</li>
                   </ul>
                   <div data-id="1" class="product-tab__content">
                       <p>
                           Самый большой и современный биометрический планшет для подписи signotec Alpha, с большим цветным дисплеем диагональю 39,5 см (15,6 "), идеально подходящим для просмотра документов в оригинальном размере, используется для точного захвата рукописной подписи, последующего за ним процесса оцифровывания и распознавания.<br>
                           Документы формата A4 отображаются в оригинальном размере. С помощью пера вы легко можете пролистывать страницы. Это идеальное решение для банков, государственных учреждений, а также для компаний, где сложные документы должны быть прочитаны перед подписанием.</p>
                        <p>
                           Signotec Alpha - настоящая панель для создания электронной биометрической подписи, а не простое расширение монитора. Она имеет тот же SDK, что и все другие продукты Signotec Signature. Преимущества в этом следующие - в качестве интегратора и разработчика вы можете полностью взаимодействовать с планшетом: загружайте PDF-документы, создавайте свою собственную графику, изображения и тексты, создавайте кнопки и захватывайте подпись в различных форматах. В то же время вы получаете самые высокие стандарты безопасности при сборе и передаче данных подписи.</p>
                        <p>
                           Чтобы отображаемое содержимое оставалось приватным, устройство оснащено «технологией конфиденциального просмотра». Благодаря ограниченному углу обзора содержимое защищено от посторонних глаз.
                           Стилусы увеличенного размера пользуются большим спросом у пользователей, желающих рассматривать большие сложные документы, требующие подписи. Заметки на полях, отметки на пунктах в многостраничных контрактах, пролистываемых вами, - это всего лишь некоторые из примеров. Стандартные стилусы слишком малы для этого планшета. Хотя на рынке уже есть крупные устройства, позволяющие подписывать, обычно это просто сенсорные мониторы, в которых подписавший видит все остальные приложения, запущенные на нем.</p>
                        <p>
                           Даже требование оформления в обычной письменной форме, существенное, например, для кредитных организация, может быть выполнено с помощью планшета signotec Alpha: подписывающий помещает исходный документ на планшет, а затем подписывает как оригинал, так и цифровой документ одновременно с помощью специальной ручки.</p>
                        <ul class="list">
                            <li class="list__item">Специальная, закаленная стеклянная поверхность для точного ввода пером</li>
                            <li class="list__item">ERT-Sensor (реагирует только на перо)</li>
                            <li class="list__item">Срок службы около 30 миллионов подписей</li>
                            <li class="list__item">Большой с диагональю 39,5 см (15,6 ") полноцветный LCD дисплей, с высоким разрешением с светящимся текстом и графикой</li>
                            <li class="list__item">Специальная ручка Batteryless со сменным наконечником, распознаваемая планшетом и одновременно пишущая чернилами Стилус биометрического  планшета</li>
                            <li class="list__item">Слайд-шоу с 10 изображениями</li>
                            <li class="list__item">1,024 уровня давления</li>
                            <li class="list__item">Частота дискретизации 280 Гц</li>
                            <li class="list__item">Высокая безопасность благодаря уникальным функциям безопасности и шифрованию RSA</li>
                            <li class="list__item">Индивидуальные возможности дизайна (цвета и логотипы)</li>
                            <li class="list__item">Подсветка экрана опциональна</li>
                            <li class="list__item">Высокая безопасность благодаря модулю RSA шифрования</li>
                            <li class="list__item">Специальный структура поверхности позволяет чувствовать, что подпись по-настоящему происходит на бумаге.</li>
                            <li class="list__item">Произвольное расположение кнопок подтверждения или отмены на экране</li>
                        </ul> 

                           <h2>Типы подключений:</h2>

                           <p>Планшеты подписи Signotec могут быть интегрированы в вашу среду с помощью различных типов соединений.</p>

                           <p>USB. Устройство питается от USB порта и дополнительно обеспечивает обработку данных с защитой от копирования и шифрования с помощью ПК или ноутбука.</p>

                           <p>Citrix Ready. Подпись может использоваться с драйвером Virtual Channel в средах Citrix. В отличие от классических портов COM, это очень быстрая и стабильная технология соединения. Поддерживаются обе платы USB и vCOM.<br>
                           Network. Планшет имеет встроенный порт Ethernet (RJ45). Таким образом, устройство может быть интегрировано в сеть и управляться с нескольких рабочих станций без необходимости его перемещения.</p>

                        <h2>Программное обеспечение:</h2>

                        <h3>Планшеты Signotec могут использоваться или интегрироваться с различными программными продуктами..</h3>
                        <p>
                           Захват подписи как изображения - чтобы захватить подпись только в качестве изображения, вы можете использовать бесплатную программуе «signoPAD-Tools». Подпись может быть сохранена в различных форматах, размерах, разрешениях и цветах и, например, автоматически вставляться в Word.
                           Подпись PDF - Если вы хотите подписывать документы и формы PDF, соответствующие требованиям закона и поддающиеся проверке (верификации), вы можете использовать программу «signoSign / 2». ПО предлагает, помимо возможности подписи документов в формате PDF, многие другие функции для автоматической обработки документа. Более подробную информацию можно найти в данном разделе о цифровой биометрической подписи.
                       </p>
                   </div>
                   <div data-id="2" class="product-tab__content">
                        <p>
                           Signotec Alpha - настоящая панель для создания электронной биометрической подписи, а не простое расширение монитора. Она имеет тот же SDK, что и все другие продукты Signotec Signature. Преимущества в этом следующие - в качестве интегратора и разработчика вы можете полностью взаимодействовать с планшетом: загружайте PDF-документы, создавайте свою собственную графику, изображения и тексты, создавайте кнопки и захватывайте подпись в различных форматах. В то же время вы получаете самые высокие стандарты безопасности при сборе и передаче данных подписи.</p>
                        <p>
                           Чтобы отображаемое содержимое оставалось приватным, устройство оснащено «технологией конфиденциального просмотра». Благодаря ограниченному углу обзора содержимое защищено от посторонних глаз.
                           Стилусы увеличенного размера пользуются большим спросом у пользователей, желающих рассматривать большие сложные документы, требующие подписи. Заметки на полях, отметки на пунктах в многостраничных контрактах, пролистываемых вами, - это всего лишь некоторые из примеров. Стандартные стилусы слишком малы для этого планшета. Хотя на рынке уже есть крупные устройства, позволяющие подписывать, обычно это просто сенсорные мониторы, в которых подписавший видит все остальные приложения, запущенные на нем.</p>
                        <p>
                           Даже требование оформления в обычной письменной форме, существенное, например, для кредитных организация, может быть выполнено с помощью планшета signotec Alpha: подписывающий помещает исходный документ на планшет, а затем подписывает как оригинал, так и цифровой документ одновременно с помощью специальной ручки.</p>
                        <ul class="list">
                            <li class="list__item">Специальная, закаленная стеклянная поверхность для точного ввода пером</li>
                            <li class="list__item">ERT-Sensor (реагирует только на перо)</li>
                            <li class="list__item">Срок службы около 30 миллионов подписей</li>
                            <li class="list__item">Большой с диагональю 39,5 см (15,6 ") полноцветный LCD дисплей, с высоким разрешением с светящимся текстом и графикой</li>
                            <li class="list__item">Специальная ручка Batteryless со сменным наконечником, распознаваемая планшетом и одновременно пишущая чернилами Стилус биометрического  планшета</li>
                            <li class="list__item">Слайд-шоу с 10 изображениями</li>
                            <li class="list__item">1,024 уровня давления</li>
                            <li class="list__item">Частота дискретизации 280 Гц</li>
                            <li class="list__item">Высокая безопасность благодаря уникальным функциям безопасности и шифрованию RSA</li>
                            <li class="list__item">Индивидуальные возможности дизайна (цвета и логотипы)</li>
                            <li class="list__item">Подсветка экрана опциональна</li>
                            <li class="list__item">Высокая безопасность благодаря модулю RSA шифрования</li>
                            <li class="list__item">Специальный структура поверхности позволяет чувствовать, что подпись по-настоящему происходит на бумаге.</li>
                            <li class="list__item">Произвольное расположение кнопок подтверждения или отмены на экране</li>
                        </ul> 

                           <h2>Типы подключений:</h2>

                           <p>Планшеты подписи Signotec могут быть интегрированы в вашу среду с помощью различных типов соединений.</p>

                           <p>USB. Устройство питается от USB порта и дополнительно обеспечивает обработку данных с защитой от копирования и шифрования с помощью ПК или ноутбука.</p>

                           <p>Citrix Ready. Подпись может использоваться с драйвером Virtual Channel в средах Citrix. В отличие от классических портов COM, это очень быстрая и стабильная технология соединения. Поддерживаются обе платы USB и vCOM.<br>
                           Network. Планшет имеет встроенный порт Ethernet (RJ45). Таким образом, устройство может быть интегрировано в сеть и управляться с нескольких рабочих станций без необходимости его перемещения.</p>

                        <h2>Программное обеспечение:</h2>

                        <h3>Планшеты Signotec могут использоваться или интегрироваться с различными программными продуктами..</h3>
                        <p>
                           Захват подписи как изображения - чтобы захватить подпись только в качестве изображения, вы можете использовать бесплатную программуе «signoPAD-Tools». Подпись может быть сохранена в различных форматах, размерах, разрешениях и цветах и, например, автоматически вставляться в Word.
                           Подпись PDF - Если вы хотите подписывать документы и формы PDF, соответствующие требованиям закона и поддающиеся проверке (верификации), вы можете использовать программу «signoSign / 2». ПО предлагает, помимо возможности подписи документов в формате PDF, многие другие функции для автоматической обработки документа. Более подробную информацию можно найти в данном разделе о цифровой биометрической подписи.
                       </p>
                   </div>
                   <div data-id="3" class="product-tab__content">
                        <p>
                           Signotec Alpha - настоящая панель для создания электронной биометрической подписи, а не простое расширение монитора. Она имеет тот же SDK, что и все другие продукты Signotec Signature. Преимущества в этом следующие - в качестве интегратора и разработчика вы можете полностью взаимодействовать с планшетом: загружайте PDF-документы, создавайте свою собственную графику, изображения и тексты, создавайте кнопки и захватывайте подпись в различных форматах. В то же время вы получаете самые высокие стандарты безопасности при сборе и передаче данных подписи.</p>
                       
                        <p>
                           Даже требование оформления в обычной письменной форме, существенное, например, для кредитных организация, может быть выполнено с помощью планшета signotec Alpha: подписывающий помещает исходный документ на планшет, а затем подписывает как оригинал, так и цифровой документ одновременно с помощью специальной ручки.</p>
                        <ul class="list">
                            <li class="list__item">Специальная, закаленная стеклянная поверхность для точного ввода пером</li>
                            <li class="list__item">ERT-Sensor (реагирует только на перо)</li>
                            <li class="list__item">Срок службы около 30 миллионов подписей</li>
                            <li class="list__item">Большой с диагональю 39,5 см (15,6 ") полноцветный LCD дисплей, с высоким разрешением с светящимся текстом и графикой</li>
                            <li class="list__item">Специальная ручка Batteryless со сменным наконечником, распознаваемая планшетом и одновременно пишущая чернилами Стилус биометрического  планшета</li>
                            <li class="list__item">Слайд-шоу с 10 изображениями</li>
                            <li class="list__item">1,024 уровня давления</li>
                            <li class="list__item">Частота дискретизации 280 Гц</li>
                            <li class="list__item">Высокая безопасность благодаря уникальным функциям безопасности и шифрованию RSA</li>
                            <li class="list__item">Индивидуальные возможности дизайна (цвета и логотипы)</li>
                            <li class="list__item">Подсветка экрана опциональна</li>
                            <li class="list__item">Высокая безопасность благодаря модулю RSA шифрования</li>
                            <li class="list__item">Специальный структура поверхности позволяет чувствовать, что подпись по-настоящему происходит на бумаге.</li>
                            <li class="list__item">Произвольное расположение кнопок подтверждения или отмены на экране</li>
                        </ul> 

                           <h2>Типы подключений:</h2>

                           <p>Планшеты подписи Signotec могут быть интегрированы в вашу среду с помощью различных типов соединений.</p>

                           <p>USB. Устройство питается от USB порта и дополнительно обеспечивает обработку данных с защитой от копирования и шифрования с помощью ПК или ноутбука.</p>

                           <p>Citrix Ready. Подпись может использоваться с драйвером Virtual Channel в средах Citrix. В отличие от классических портов COM, это очень быстрая и стабильная технология соединения. Поддерживаются обе платы USB и vCOM.<br>
                           Network. Планшет имеет встроенный порт Ethernet (RJ45). Таким образом, устройство может быть интегрировано в сеть и управляться с нескольких рабочих станций без необходимости его перемещения.</p>

                        <h2>Программное обеспечение:</h2>

                        <h3>Планшеты Signotec могут использоваться или интегрироваться с различными программными продуктами..</h3>
                        <p>
                           Захват подписи как изображения - чтобы захватить подпись только в качестве изображения, вы можете использовать бесплатную программуе «signoPAD-Tools». Подпись может быть сохранена в различных форматах, размерах, разрешениях и цветах и, например, автоматически вставляться в Word.
                           Подпись PDF - Если вы хотите подписывать документы и формы PDF, соответствующие требованиям закона и поддающиеся проверке (верификации), вы можете использовать программу «signoSign / 2». ПО предлагает, помимо возможности подписи документов в формате PDF, многие другие функции для автоматической обработки документа. Более подробную информацию можно найти в данном разделе о цифровой биометрической подписи.
                       </p>
                   </div>
                   <a href="#" class="btn btn_back">Назад в каталог</a>
               </div>
               <div class="col-lg-12"> 
                 <span class="title title-equipment">Сопутствующие оборудование</span>
                 <div class="equipment-slider"> 
                   <div class="equipment-slider__item">
                     <img class="equipment-slider__img" src="pic/equipment-img.png">
                     <span class="equipment-slider__type">Планшет</span>
                     <span class="equipment-slider__name">Signotec KAPPA</span>
                   </div>
                   <div class="equipment-slider__item">
                     <img class="equipment-slider__img" src="pic/equipment-img.png">
                     <span class="equipment-slider__type">Планшет</span>
                     <span class="equipment-slider__name">Signotec KAPPA</span>
                   </div>
                   <div class="equipment-slider__item">
                     <img class="equipment-slider__img" src="pic/equipment-img.png">
                     <span class="equipment-slider__type">Планшет</span>
                     <span class="equipment-slider__name">Signotec KAPPA</span>
                   </div>
                   <div class="equipment-slider__item">
                     <img class="equipment-slider__img" src="pic/equipment-img.png">
                     <span class="equipment-slider__type">Планшет</span>
                     <span class="equipment-slider__name">Signotec KAPPA</span>
                   </div>
                   <div class="equipment-slider__item">
                     <img class="equipment-slider__img" src="pic/equipment-img.png">
                     <span class="equipment-slider__type">Планшет</span>
                     <span class="equipment-slider__name">Signotec KAPPA</span>
                   </div>
                 </div>
               </div>
            </div>
            <div class="proposition row">
                <div class="title-line col-lg-12">
                    <span class="title">Комплексные решения</span>
                </div>
                <div class="col-lg-3">
                    <div class="proposition__item">
                        <img src="img/proposition-img.png" alt="" class="proposition__img proposition__img-white">
                        <span class="proposition__title">Биометрическая подпись</span>
                        <p class="proposition__text">Используйте данное программное обеспечение для удостоверения документов рукописной подписью в электронном виде. </p>
                        <a class="btn" href="#">Перейти в каталог</a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="proposition__item">
                        <img src="img/proposition-img.png" alt="" class="proposition__img proposition__img-white">
                        <span class="proposition__title">Биометрическая подпись</span>
                        <p class="proposition__text">Используйте данное программное обеспечение для удостоверения документов рукописной подписью в электронном виде. </p>
                        <a class="btn" href="#">Перейти в каталог</a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="proposition__item">
                        <img src="img/proposition-img.png" alt="" class="proposition__img proposition__img-white">
                        <span class="proposition__title">Биометрическая подпись</span>
                        <p class="proposition__text">Используйте данное программное обеспечение для удостоверения документов рукописной подписью в электронном виде. </p>
                        <a class="btn" href="#">Перейти в каталог</a>
                    </div>
                </div> 
                <div class="col-lg-3">
                    <div class="proposition__item">
                        <img src="img/proposition-img.png" alt="" class="proposition__img proposition__img-white">
                        <span class="proposition__title">Биометрическая подпись</span>
                        <p class="proposition__text">Используйте данное программное обеспечение для удостоверения документов рукописной подписью в электронном виде. </p>
                        <a class="btn" href="#">Перейти в каталог</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

@@include('template/layout/footer.html')
 