
<section class="equipment">
	<div class="container">
		<span class="title equipment_title">Оборудование и программы</span>
		<div class="equipment-list row">
			<div class="equipment-list__item col-lg-2 col-md-3"> 
				<div class="equipment-list__normal">	
					<svg class="equipment-list__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.81 121.1">
						<use xlink:href="#equipment-1" /> 
					</svg>	 	 
					<span class="equipment-list__name">Планшеты для подписи</span>
				</div>
				<div class="equipment-list__hover">
					<div class="equipment-list__top">
						<svg class="equipment-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.81 121.1">
							<use xlink:href="#equipment-1" /> 
						</svg>
						<span class="equipment-list__title">Планшеты для подписи</span>
					</div>
					<p class="equipment-list__text">Устройства предназначенные для оперативного и точного поиска всех необходимых данных для оперативного и точного поиска всех необходимых данных ...</p>
					<a class="equipment-list__link" href="#"><i class="fas fa-angle-double-right"></i></a>
				</div>
			</div>
			<div class="equipment-list__item col-lg-2 col-md-3"> 
				<div class="equipment-list__normal">
					<svg class="equipment-list__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.81 121.1">
						<use xlink:href="#equipment-2" /> 
					</svg>
					<span class="equipment-list__name">Планшеты для подписи</span>
				</div>
				<div class="equipment-list__hover">
					<div class="equipment-list__top">
						<svg class="equipment-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.81 121.1">
							<use xlink:href="#equipment-2" /> 
						</svg>
						<span class="equipment-list__title">Планшеты для подписи</span>

					</div>
					<p class="equipment-list__text">Устройства предназначенные для оперативного и точного поиска всех необходимых данных для оперативного и точного поиска всех необходимых данных ...</p>
					<a class="equipment-list__link" href="#"><i class="fas fa-angle-double-right"></i></a>
				</div>
			</div>
			<div class="equipment-list__item col-lg-2 col-md-3"> 
				<div class="equipment-list__normal">
					<svg class="equipment-list__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.81 121.1">
							<use xlink:href="#equipment-3" /> 
						</svg>
					<span class="equipment-list__name">Планшеты для подписи</span>
				</div>
				<div class="equipment-list__hover">
					<div class="equipment-list__top">
						<svg class="equipment-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.81 121.1">
							<use xlink:href="#equipment-3" /> 
						</svg>
						<span class="equipment-list__title">Планшеты для подписи</span>
					</div>
					<p class="equipment-list__text">Устройства предназначенные для оперативного и точного поиска всех необходимых данных для оперативного и точного поиска всех необходимых данных ...</p>
					<a class="equipment-list__link" href="#"><i class="fas fa-angle-double-right"></i></a>
				</div>
			</div>  
			<div class="equipment-list__item col-lg-2 col-md-3">  
				<div class="equipment-list__normal"> 
					<svg class="equipment-list__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.81 121.1">
						<use xlink:href="#equipment-4" />  
					</svg>
					<span class="equipment-list__name">Планшеты для подписи</span>
				</div>
				<div class="equipment-list__hover">
					<div class="equipment-list__top"> 
						<svg class="equipment-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.81 121.1">
							<use xlink:href="#equipment-4" /> 
						</svg>
						<span class="equipment-list__title">Планшеты для подписи</span>
					</div>
					<p class="equipment-list__text">Устройства предназначенные для оперативного и точного поиска всех необходимых данных для оперативного и точного поиска всех необходимых данных ...</p>
					<a class="equipment-list__link" href="#"><i class="fas fa-angle-double-right"></i></a>
				</div>
			</div>
		</div>
		<div class="equipment-list equipment-list_second row">
			<div class="equipment-list__item col-lg-2 col-md-3"> 
				<div class="equipment-list__normal">
					<svg class="equipment-list__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.81 121.1">
						<use xlink:href="#equipment-5" /> 
					</svg>
					<span class="equipment-list__name">Планшеты для подписи</span>
				</div>
				<div class="equipment-list__hover">
					<div class="equipment-list__top"> 
						<svg class="equipment-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.81 121.1">
							<use xlink:href="#equipment-5" /> 
						</svg>
						<span class="equipment-list__title">Планшеты для подписи</span>
					</div>
					<p class="equipment-list__text">Устройства предназначенные для оперативного и точного поиска всех необходимых данных для оперативного и точного поиска всех необходимых данных ...</p>
					<a class="equipment-list__link" href="#"><i class="fas fa-angle-double-right"></i></a>
				</div>
			</div>
			<div class="equipment-list__item col-lg-2 col-md-3"> 
				<div class="equipment-list__normal">
					<svg class="equipment-list__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.81 121.1">
						<use xlink:href="#equipment-6" /> 
					</svg>
					<span class="equipment-list__name">Планшеты для подписи</span>
				</div>
				<div class="equipment-list__hover">
					<div class="equipment-list__top"> 
						<svg class="equipment-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.81 121.1">
							<use xlink:href="#equipment-6" /> 
						</svg>
						<span class="equipment-list__title">Планшеты для подписи</span>
					</div>
					<p class="equipment-list__text">Устройства предназначенные для оперативного и точного поиска всех необходимых данных для оперативного и точного поиска всех необходимых данных ...</p>
					<a class="equipment-list__link" href="#"><i class="fas fa-angle-double-right"></i></a>
				</div>
			</div>
			<div class="equipment-list__item col-lg-2 offset-2-right col-md-3"> 
				<div class="equipment-list__normal">
					<svg class="equipment-list__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.81 121.1">
						<use xlink:href="#equipment-7" /> 
					</svg>
					<span class="equipment-list__name">Планшеты для подписи</span>
				</div>
				<div class="equipment-list__hover">
					<div class="equipment-list__top"> 
						<svg class="equipment-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.81 121.1">
							<use xlink:href="#equipment-7" /> 
						</svg>
						<span class="equipment-list__title">Планшеты для подписи</span>
					</div>
					<p class="equipment-list__text">Устройства предназначенные для оперативного и точного поиска всех необходимых данных для оперативного и точного поиска всех необходимых данных ...</p>
					<a class="equipment-list__link" href="#"><i class="fas fa-angle-double-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>